.cta-blocks {
  display: flex;
  flex-direction: column;

  @include media('>=tablet') {
    flex-direction: row;
    overflow: hidden;
  }
}

.cta-item {
  align-items: center;
  background: linear-gradient(#3d3d3d, #323232);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #3f3f3f;
  color: $yellow;
  flex: 1;
  min-height: 195px;
  position: relative;

  @include media('>=tablet') {
    border-top: 0;
  }

  @include media('>=laptop') {
    display: flex;
    min-height: 466px;
    flex: 1 1 33%;
    max-width: 33.9%;
  }

  svg {
    fill: $yellow;
    max-height: 200px;
    transition: transform 0.1s linear;
  }

  .overlay {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;

    @include media('>=laptop') {
      align-items: center;
      background: rgba(0,0,0,0);
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      position: relative;
      transition: background 0.3s linear;
    }
  }

  .ci-button {
    @include milo-boldita;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;

    @include media('>=laptop') {
      transition: all 0.2s ease-in;
      position: absolute;
      opacity: 0;
      left: 0;
      bottom: 40px;
      width: 100%;
    }
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
    .ci-button {
      color: $yellow;
      bottom: 70px;
      opacity: 1;
      text-decoration: none;
    }
  }

  &:hover .overlay {
    @include media('>=laptop') {
      transition: background 0.3s linear;
      background: rgba(0,0,0,0.5);
    }
  }

  a {
    color: $yellow;

    &:hover {
      color: #fff;
    }
  }
}

#cta-pricematch {
  background-image: url('../../images/cta-pricematch-underlay.jpg');
  overflow: hidden;

  .media-container {
    position: relative;
    width: 100%;

    svg {
        width: 80%;
        max-width: 400px;
        position: relative;

/*      @include media('>=568px') {
        left: -560px;
      }

      @include media('>=680px') {
        left: -490px;
      }

      @include media('>=tablet') {
        left: -390px;
        max-width: 610px;
      }

      @include media('>=944px') {
        left: -360px;
      }

      @include media('>=laptop') {
        max-width: 670px;
      }

      @include media('>=desktop') {
        left: -710px;
        max-width: 1300px;
      }

      @include media('>=1394px') {
        left: -690px;
      }

      @include media('>=1584px') {
        left: -660px;
      }

      @include media('>=1868px') {
        left: -620px;
      }

      @include media('>=2172px') {
        left: -560px;
      }

      @include media('>=2560px') {
        left: -490px;
      }

      @include media('>=2880px') {
        left: -430px;
      }

      @include media('>=3840px') {
        left: -310;
      }*/
    }
  }
}

#cta-interestfree {
  background-image: url('../../images/cta-interestfree-underlay.jpg');
}

#cta-store {
  background-image: url('../../images/cta-store-underlay.jpg');
}

#cta-clearance {
  background-image: url('../../images/cta-clearance-underlay.jpg');
}