@font-face {
	font-family: 'MiloPro-BoldIta';
	src: url('../../fonts/MiloPro-BoldIta.eot');
	src: url('../../fonts/MiloPro-BoldIta.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/MiloPro-BoldIta.woff') format('woff'),
		url('../../fonts/MiloPro-BoldIta.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'MiloPro-Xbold';
	src: url('../../fonts/MiloPro-Xbold.eot');
	src: url('../../fonts/MiloPro-Xbold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/MiloPro-Xbold.woff') format('woff'),
		url('../../fonts/MiloPro-Xbold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}