

#gform_wrapper_4,
#gform_wrapper_1,
#htp_enquiry-form-wrapper .gform_wrapper {
  margin-bottom: 0;
  margin-top: 0;

  @include media('>=laptop') {
    flex: 1;
  }

  .gfield_label {
    @extend %sr-only;
  }

   input.medium,
   .ginput_complex input {
    background: #F1F1F2 !important;
    border: 0 !important;
    border-radius: 20px;
    font-size: 14px !important;
    height: 38px;
    padding: 0 20px !important;
    width: 100% !important;

    @include media(">=laptop") {

    }

  /*
    @include placeholder {
      text-transform: uppercase;
    }
  */

    &::placeholder {
      color: $blue !important;
      font-weight: bold;
    }
  }


  .gform_footer {
    clear: left !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  ul li.gfield {
    margin-bottom: 10px;
    margin-top: 0 !important;

    @include media('>=laptop') {
      margin-bottom: 0;
    }
  }

   ul li.gfield:nth-child(2n) {
    margin-right: 0;
  }

  label.gfield_label+div.ginput_container {
    margin-top: 0 !important;
  }

  .input--textarea {
    margin: 0;
    margin-right: 0 !important;
    width: 100% !important;
  }

  .input--textarea textarea.medium {
    border: 0;
    font-size: 14px;
    height: 110px !important;
    padding: 17px 10px 15px;
    width: 100%;

  /*
    @include placeholder {
      text-transform: uppercase;
    }
  */
  }

  ul.gform_fields li.gfield {
    padding-right: 0 !important;
  }

  label.gfield_label+div.ginput_container {
    @include media('>=laptop') {
      margin-top: 0 !important;
    }
  }

  #gform_submit_button_4,
  #gform_submit_button_1,
  #gform_submit_button_3,
  #gform_submit_button_6 {
    @include button;
    background: none;
    box-shadow: none;
    height: 38px;
    width: 100%;

    @include media('>=laptop') {
    }
  }

  #gform_submit_button_3,
  #gform_submit_button_6 {
    width: 120px;
    float: right;
  }

  #gform_4,
  #gform_1 {

    @include media(">=laptop") {
      display: flex;
      margin: 0;
    }

    ul.gform_fields {
      @include media(">=laptop") {
        display: flex;
      }
    }

    .gfield {
      @include media(">=laptop") {
        clear: none !important;
        flex: 1;
        margin-right: 20px;
      }
    }

    .gform_body {
      @include media(">=laptop") {
        flex: 1;
      }
    }

    .gform_footer {
      @include media(">=laptop") {
        max-width: 120px;
      }
    }
  }
}

#htp_enquiry-form-wrapper {
  background: #f3f3f3;
  padding: 60px 20px 130px;

  @include media('>=1190px') {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ginput_complex label {
    @extend %sr-only;
  }

  .gform_wrapper input.medium,
  .gform_wrapper .ginput_complex input,
  .gform_wrapper textarea.medium {
    background: #fff !important;
    border: 1px solid #dededd !important;
    font-weight: normal;
    border-radius: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;    

    &::placeholder {
      font-weight: normal;
    }
  }

  

  .gform_wrapper textarea.medium {
    padding: 10px 20px !important;
    width: 100%;

    &::placeholder {
      color: $blue !important;
    }
  }

  .gform_wrapper {
    max-width: 100%;

    .gfield {
      margin-bottom: 25px !important;
    }
    
    #field_3_1,
    #field_3_2,
    #field_3_9,
    #field_3_4,
    #field_6_1,
    #field_6_2,
    #field_6_9,
    #field_6_4 {
      @extend .clearfix;
      // display: inline;
      // clear: none;
      // float: left;
      // width: 50%;
      // padding-right: 20px !important;
      width: 100%;

      @include media('>=tablet') {
        display: inline;
        clear: none;
        float: left;
        width: 50%;
      }
    }

    #field_3_2,
    #field_6_2 {
      @include media('>=tablet') {
        clear: left;
      }
    }

    #field_3_1,
    #field_3_2,
    #field_6_1,
    #field_6_2 {
      @include media('>=tablet') {
        padding-right: 12px !important;
      }
    }

    #field_3_9,
    #field_3_4,
    #field_6_9,
    #field_6_4 {
      @include media('>=tablet') {
        padding-left: 12px !important;
      }
    }

    #field_3_6,
    #field_3_10,
    #field_6_6,
    #field_6_10  {
      margin-bottom: 10px !important;
      width: 100%;

      label {
        color: $blue;
        float: left;
        display: inline;
        font-size: 14px;
        margin: 4px 0 0 0 !important;
        height: auto !important;
        padding-right: 20px;
        position: static !important;
        overflow: visible !important;
        width: auto !important;
      }
    }

    #input_3_6,
    #input_6_6 {
      clear: both;

      @include media('>=laptop') {
        clear: none;
      }

      label {
        font-size: 12px;

        @include media('>=laptop') {}
        font-size: 14px;
      }
    }
    
    .gfield_radio,
    .gfield_checkbox {
      li {
        display: inline;
        float: left;
      }
    
      input {
        margin: 5px 8px;
      }
    }
    
    .gfield_radio li input {
	    float: left;
    }
    
    .gfield_radio li label {
	    max-width: 100%;
    }   
  }
  
  .hasCustomSelect {
    z-index: 1;
  }

  .customSelect { 
    background: #fff;
    border: 1px solid #dededd;
    color: $blue;
    font-size: 14px !important;
    font-weight: normal;
    height: 38px;
    border-radius: 20px;
    padding: 8px 20px;
    position: relative;
    width: 100%;

    @include media('>=tablet') {
      width: calc(50% - 12px);
    }
  }

  .customSelectInner:after {
    content: '\f107';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: $blue;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 6px;
    right: 5px;
  }
  
  $error: #c10202;
  
  .gform_wrapper .gfield_error input.medium,
  .gform_wrapper .gfield_error .ginput_complex input,
  .gform_wrapper .gfield_error textarea.medium {
    border: 1px solid $error !important;
  }
  
  .gform_wrapper li.gfield.gfield_error {
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
  }

  .validation_message {
    color: $error;
    margin-top: 0 !important;
    padding-top: 0 !important;
	font-size: 12px;
  }

  .gform_wrapper div.validation_error {
    color: $error;
    border-color: $error;
	font-size: 14px;
	border-top: none;
  }
  .gfield_error .customSelect {
    border-color: $error;
  }
}

#gform_wrapper_3, #gform_confirmation_wrapper_3,
#gform_wrapper_6, #gform_confirmation_wrapper_6 {
  .gform_title {
    @include milo-boldita;
    font-size: 40px !important;
  }

  .gform_description {
    font-weight: 100;
  }
}
.hide-label > label {
	display: none !important;
}
