

.alignleft {display:inline;float:left;}
.alignright {display:inline;float:right;}

.italicise {
  font-style: italic;
}
body.home {
  a {
    transition: background 0.2s linear;
    text-decoration: none;
  }

  ul.nostyle {
    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

.sr-only {
  @extend %sr-only;
}

.media-container {
  text-align: center;

  .media-item,
  svg {
    max-width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  width: 100%;
}

.btn {
  @include button;
}

.btn-white {
  @include button(#fff);

  &:hover {
    color: $blue;
  }
}


.feature-blocks {
  width: 100%;

  @include media('>=tablet') {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 7px;

    @include media('>=tablet') {
      font-size: 33px;
      line-height: 36px;
    }
  }
}

.fb-item {
  color: $blue;
  display: flex;
  flex-direction: column;
  min-height: 305px;
  padding: 20px 20px 30px;
  text-align: center;

  .btn {
    align-self: center;
    display: inline;
    margin: 0 auto;
    margin-top: auto;


    @include media('>=tablet') {

      max-width: auto;
    }
  }

  @include media('>=tablet') {
    flex: 1 1 50%;
    max-width: 50%;
    min-height: 468px;
    padding: 40px 30px;
  }
}

.fbi-copy {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: space-between;
  flex: 1;

  @include media('>=tablet') {
    align-items: center;
    justify-content: inherit;
  }
}

.fb-packages,
.fb-catalogue,
.fb-auto {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 250px;
  position: relative;

  @include media('>=laptop') {
    background-size: 70%;
  }

  p {
    display: none;

    @include media('>=tablet') {
      flex-grow: 1;
      display: block;
    }
  }

  // .media-container {
  //   position: absolute;
  // }
}

.fb-packages {
  background-color: $silver;
  background-image: url('../../images/fb-packages.png');
  // background-size: 100%;
}

.fb-catalogue {
  background-color: $yellow;
  background-image: url('../../images/fb-catalogue.png');

  @include media('>=laptop') {
    background-position: center 60%;
  }

  @include media('>=desktop') {
    background-position: center 70%;
  }
}

.fb-brands {
  background: #f9f9f9;
}

.fb-auto {
  background-color: #97908a;
  background-image: url('../../images/fb-automation.png');
  background-position: right 80%;
  color: #fff;

  @include media('>=laptop') {
    background-position: right bottom;
  }

  .media-container {
    right: 0;
  }
}

.fb-brands_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;

  .brand {
    flex: 1 0 33%;

    img {
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      transition: transform 0.1s linear;
      transform: perspective(1px) translateZ(0);
      max-width: 70px;

      @include media('>=tablet') {
        max-width: 100%
      }
    }

    &:hover {
      img {
        transform: perspective(1px) translateZ(0) scale(1.1);
      }
    }
  }
}

#sharing-holder {
    position: absolute;
    display: block;
    top: 95px;
    right: -81px;
    background: #fff;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 999;
	transition: all 0.3s ease-in-out;
}
#sharing-holder.show-sharing {
	right: 29px;
}
#sharing-holder a {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
	background-repeat: no-repeat;
    background-size: 100%;
}
a.social-link.facebook {
    background: url('../../images/fb.png');
}
a.social-link.google {
    background: url('../../images/google.png');
}
a.social-link.twitter {
    background: url('../../images/twitter.png');
}
a.social-link.email {
    background: url('../../images/mail.png');
}

// body.single.single-product.woocommerce.woocommerce-page #main ul li {
// 	margin-bottom: 10px;
// }
// body.single.single-product.woocommerce.woocommerce-page #main ul br {
// 	display: none;
// }