.burger-icon {
	@include burger(20px, 1px, 4px, #fff);
}

#menu-toggle.is-active .burger-icon {
	@include burger-to-cross;
}

.menu-top-bar-container {
  float: right;
}

.actions .nav-menu {
  @extend .clearfix;
  float: right;
  padding: 0;
  margin-top: 13px;

  @include media('>=tablet') {
    display: inline-block;
    padding-right: 20px;
  }

  @include media('>desktop') {
    padding-right: 0;
  }

  a {
    color: #fff;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .product-search.floating .product-search-results {
    z-index: 99999 !important;
  }

  .product-search-results a {
    color: $blue;
    text-decoration: none;
  }

  .icon {
    float: left;
    margin-right: 10px;
    position: relative;
  }

  .badge {
    @include milo-xbold;
    background: $yellow;
    border: 1px solid $blue;
    border-radius: 12px;
    color: $blue-dark;
    display: block;
    font-size: 9px;
    height: 16px;
    left: -4px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: -4px;
    width: 16px;
  }

  .icon svg {
    fill: #fff;
    height: 20px;
    max-width: 20px;
  }

  li {
    display: none;
    float: left;
    margin-right: 30px;
    position: relative;

    @include media('>=tablet') {
      display: inline-block;
      margin-right: 10px;
    }

    @include media('>=840px') {
      margin-right: 30px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      & > a {color: $yellow; text-decoration: none;}
      svg {fill: $yellow;}
    }
  }

  #actions-cart {
    display: inline-block;
    left: 20px;
    position: absolute;

    @include media('>=tablet') {
      position: static;
    }

  }


}

#reveal-recent-products {
  float: left;
  white-space: nowrap;

  &:hover {
    .product_list_widget {
      display: block;
    }
  }
}

.product_list_widget {
  display: none;
}

.nav-menu li {
  margin-left: 0;
  display: block;
}

#menu-toggle {
  color: #fff;
	display: block;
	line-height: 46px;
	position: absolute;
	right: 0;

	i {
		float: left;
		margin-top: 23px;
	}

	span {
		margin-left: 13px;
		margin-right: 20px;
		text-transform: uppercase;
	}

	@include media('>=tablet') {
  	display: none;
	}
}

#masthead .nav-container {
	@extend %clearfix;
	position: absolute;
	top: 0;
	width: 100%;

	@include media('>=tablet') {
  	position: static;
  	top: 0;
	}
}

.menu li {
	display: block;
	margin-left: 0;
}

.menu-primary-navigation-container {
	display: none;
	float: none;
  font-size: 12px;
	margin-top:46px;
  position: relative;
  z-index: 1000;

	@include media('>=tablet') {
  	display: block;
  	margin-top: 0;
	}

	@include media('>=laptop') {
	  float: right;
    max-width: 80%;
	}

	.nav-menu {
    @include media('>=tablet') {
  	  display: flex;
      justify-content: center;
    }

  	@include media('>=laptop') {
      padding-top: 30px;
      padding-bottom: 4px;
      justify-content: flex-end;
    }
	}

	a {
		color: #fff;
	}

	&.is-active {
    background: $blue;
		display: block;
	}
}

.menu-primary-navigation-container .menu-item > a {
	border-top: 1px solid $blue-dark;
	display: block;
  font-size: 13px;
	font-weight: bold;
	padding: 20px;

	@include media('>=tablet') {
  	border-top: 0;
  	padding: 10px;
	}

  @include media('>=laptop') {
  	padding: 10px 11px;
  }

  /* @include media('>=1045px') {
  	font-size: 14px;
  } */

  @include media('>=desktop') {
    font-size: 16px;
    padding: 10px 15px;
  }

	&:hover {
		color: $yellow;
		text-decoration: none;
	}
}


#menu-primary-navigation > .menu-item-has-children {
  position: relative;

  @include media('>=laptop') {
    height: 76px;
  }

	& > a {
		position: relative;
	}

	& > a::after {
		color: #fff;
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
		position: absolute;
		right: 17px;
    text-decoration: inherit;

    @include media('>=tablet') {
      right: 0;
    }
	}

	&.active > a::after {
  	@include media('<=tablet') {
    	content: '\f106';
  	}
	}

	& > .sub-menu.active {
  	@include media('<=tablet') {
    	display: block;
  	}
	}

  &:hover > .sub-menu {
    @include media('>=laptop') {
      display: block;
    }
  }

	& > .sub-menu {
	  display: none;
    background: #4B5E84;
    margin-bottom: 0;

    @include media('>=laptop') {
      margin-top: 32px;
    }

    & > li:first-of-type a {
      border-top: 1px solid $blue-dark;

      @include media('>=tablet') {
        border-top: 0;
      }
    }

    a {
      border-top: 0;
      font-weight: normal;
      padding: 10px 30px;

      @include media('>=tablet') {
        padding: 10px 20px;
        font-size: 12px;
      }

    }

    @include media('>=tablet') {
      background: $blue-dark;
      position: absolute;

      .menu-item {
        white-space: nowrap;
      }
    }
	}
}

#menu-primary-navigation > .menu-item-has-children .sub-menu {
  display: none;
}

#menu-primary-navigation > .menu-item-has-children .sub-menu .menu-item-has-children > a {
  &::after {
    @include media('>=tablet') {
      color: #fff;
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 17px;
      text-decoration: inherit;
    }
  }
}

#menu-primary-navigation > .menu-item-has-children .sub-menu .menu-item-has-children {
  position: relative
}

#menu-primary-navigation > .menu-item-has-children .sub-menu .menu-item-has-children:hover {
  @include media('>=tablet') {
    .sub-menu {
      display: block;
      background: darken($blue, 10%);
      left:100%;
      position: absolute;
      top: 0;
    }
  }
}

// footer
.site-footer {

  .menu-item-has-children {
    border-bottom: 1px solid #4a5879;
    overflow: hidden;

    @include media('>=tablet') {
      border: 0;
      overflow: visible;
    }

    &.active > a::after {
      content: "\f068";
    }

    &.active .sub-menu {
//       display: block !important;
      transition: max-height .2s ease-in-out;
      max-height: 730px !important;
    }
  }

  .menu-item {
    a {
      color: #E4E5E8;
      font-size: 13px;
      padding: 10px 0;

      @include media('>=tablet') {
        line-height: 25px;
        padding: 0;
      }
    }

    &:hover {
      text-decoration: none;
    }

    a:active,a:focus {
      outline: none;
    }
  }

  .menu-item-has-children > a,
  .title {
    @include milo-xbold;
    clear: both;
    color: $yellow;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 16px 0;
    position: relative;

    &:hover {
      color: #e4e5e8;
    }

    @include media('>=tablet') {
      padding-top: 0;
      padding-bottom: 3px;
    }

    @include media('>=laptop') {
      padding-bottom: 7px;
    }

    &::after {
  		color: $yellow;
      content: "\f067";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
  		position: absolute;
  		right: 17px;
      text-decoration: inherit;

      @include media('>=tablet') {
        display: none;
      }
    }
  }

  .title {
    border-bottom: 0;

    &::after {
      display: none;
    }
  }

  .sub-menu {
    max-height: 0;
    margin-bottom: 0;
    transition: max-height .2s ease-in-out;

    @include media('>=tablet') {
      margin-bottom: 20px;
      max-height: 900px;
    }
  }

  .menu-footer-column-2-container .menu-item-has-children > a {
    @include media('>=tablet') {
      margin-top: 20px;
    }
  }

  .menu {
    margin-bottom: 0;

    @include media('>=tablet') {
      margin-bottom: 10px;
    }
  }

  .menu a {
    display: block;

    @include media('>=laptop') {
      display: inline-block;
    }

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}

@include media('>=768px') {
    .menu-item-has-children:hover > .sub-menu   {
        display: block !important;
    }
}


// hacks

// this menu is in column 2
#menu-item-12061,
#menu-item-12062,
#menu-item-12063,
#menu-item-12064,
#menu-item-12065,
#menu-item-12066 {
  display: none;

  @include media('>=tablet') {
    display: block;
  }
}

#menu-item-6391 > a {
  margin-top: 0;

  @include media('>=tablet') {
    margin-top: 20px;
  }
}

#menu-item-12056,
#menu-item-12057,
#menu-item-12058,
#menu-item-12059,
#menu-item-12060 {
  @include media('>=tablet') {
    display: none;
  }
}

// squeeze the menu

@include media('>=768px') {

}