#select-store-modal h2 {
    color: $yellow;
}

.woocommerce #secondary .widget ul li,
.woocommerce-page #secondary .widget ul li {
    margin-left: 0;
}

.woocommerce #secondary .product-categories .children,
.woocommerce-page #secondary .product-categories .children {
    padding: 0 0 0 10px;
}

#location-list li {
    margin-left: 0;
}

ul.product_list_widget {
    position: absolute;
    background: #304062;
    z-index: 9999;
    padding: 20px 10px;
    white-space: nowrap;
    right: 0;
    top: 100%;
}

ul.product_list_widget li img {
    display: none;
}

#secondary .widget_layered_nav ul li.chosen a,
.woocommerce-page .widget_layered_nav ul li.chosen a {
    background: $blue;
    ;
    border-color: $blue-dark;
    color: #fff;
}

.page_brands .brand-thumbnails {
    @include media('<tablet') {
        width: 100%;
    }
}

.page_brands .brand-thumbnails li {
    width: 47% !important;
    @include media('>=425px') {
        width: 23.5% !important;
    }
}

.page_brands #brands_a_z {
    @include media('<tablet') {
        display: none;
    }
}

.blogpost-content {
    @include media('<=905px') {
        margin-left: 0;
        margin-top: 20px;
        width: auto;
    }
}

.blogpost-featureimg {
    @include media('<=905px') {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: auto;
    }
    @include media('<=tablet') {
        float: none;
    }
}

.woocommerce #product-listing-controls,
.woocommerce-page #product-listing-controls {
    @include media('<=425px') {
        padding-bottom: 1em;
        .woocommerce-result-count,
        .woocommerce-ordering,
        .form-wppp-select.products-per-page {
            clear: both;
            display: block;
            float: left !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.page-template-template-promo_campaign {
    .sp-slides-container {
        padding-bottom: 0;
    }
    .site {
        padding-bottom: 0 !important;
    }
    #main {
        margin: 0;
        padding: 0;
    }
    #main .slider-pro h1 {
        font-size: 54px;
        margin-bottom: 0px;
        @include media('>=tablet') {
            margin-top: 100px;
        }
        @include media('>=desktop') {
            margin-top: 130px;
        }
    }
    .sp-layer {
        padding-right: 0 !important;
        @include media('>=587px') {
            padding-left: 20px;
        }
    }
    .woocommerce ul.products li.product:nth-child(3n+1) {
        clear: none;
    }
    .woocommerce ul.products {
        display: flex;
        flex-wrap: wrap;
    }
    .products .flex--item {
        flex: 0 1 100%;
        padding: 0 10px;
        @include media('>=425px') {
            flex: 0 1 50%;
        }
        @include media('>=tablet') {
            flex: 0 1 33%;
        }
        @include media('>=laptop') {
            flex: 0 1 25%;
        }
    }
    .woocommerce ul.products li.product {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 236px;
        width: auto;
    }
    .promocampaign-highlight {
        background: #EC222F;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin: 0 0 50px;
        padding: 8px 0;
        text-align: center;
        @include media('>=tablet') {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

body.page_promotions {
    .promos-container {
        display: flex;
        flex-wrap: wrap;
    }
    #main h1 {
        @include milo-boldita;
        color: $blue;
        font-size: 56px;
        line-height: 68px;
    }
    .promo-campaign {
        flex: 1 1 100%;
        @include media('>=laptop') {
            flex: 1 1 50%;
        }
    }
    .site {
        padding-bottom: 0 !important;
    }
}

body.archive.woocommerce {
    #page {
        padding-bottom: 0;
    }
}