.sp-slides-container {
  @include media('<=586px') {
    padding-bottom: 20px;
  }
}

body.home #main .slider-pro h1,
.page-template-template-promo_campaign  #main .slider-pro h1 {
  @include milo-boldita;
  color: $blue;
  font-size: 73px;
  line-height: 68px;
  text-align: left;
  text-transform: none;

  @include media('<=586px') {
    line-height: 48px !important;
    font-size: 40px !important;
    text-align: center;

    br {
      display: none !important;
    }
  }
}

.slider-pro .button {
  transition: all 0.3s linear !important;
  -webkit-transition: all 0.3s linear !important;
}

.sp-image-container {
  position: absolute;
  text-align: right;

  @include media('<=586px') {
    margin-bottom: -40px;
    position: static;
  }
}

.sp-layer {
  position: static !important;



  @include media('<=586px') {
    left: 0 !important;
    margin: 10px 0 !important;
    padding-right: 20px !important;
    text-align: center !important;
    width: 100% !important;
  }


  h1, p {
    width: 100%;

    @include media('>586px') {
      max-width: 40% !important;
    }
  }
}

@include media('<=586px') {

  .sp-image-container {
    max-height: 300px !important;
  }

  .slider-pro img.sp-image {
    margin-top: 0 !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
  }
}

img.sp-image {
  width: auto !important;
  display: inline-block;

}

img[title="sonos-lifestyle"] {
    @include media('>=1500px') {
    width: 100% !important;
  }
}

@include media('<=440px') {
 .sp-image-container {
    max-height: 200px !important;
  }
}

.sp-button {
  border: 0;
  background-color: #CECECE;
  height: 8px;
  width: 8px;

  @include media('>=laptop') {
    height: 14px;
    width: 14px;
  }
}

.sp-selected-button {
  background-color: #252525;
}