// Colours =col
$yellow: #FCCC1D;
$blue: #45547a;
$blue-dark: #3B4868;
$silver: #E6E4E2;
$slate: #8C8A88;

$primary:$yellow;
$black: $blue-dark;

// Font Families =font
// Sans Serif
$geneva: geneva, tahoma, "dejavu sans condensed", sans-serif;
$helvetica: "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
$lucida: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
$verdana: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
$ubuntu: 'Ubuntu', $lucida;
// Serif
$georgia: georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif;
$palatino: palatino, "palatino linotype", palladio, "urw palladio l", "book antiqua", "liberation serif", times, serif;
$times: times, "times new roman", "nimbus roman no9 l", freeserif, "liberation serif", serif;
// Monospace
$courier: "courier new", courier, freemono, "nimbus mono l", "liberation mono", monospace;
$monaco: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace;

$breakpoints: (phone: 320px, tablet: 768px, laptop: 1024px, desktop: 1190px);

@mixin milo-boldita {
  font-family: 'MiloPro-BoldIta', $ubuntu;
  font-style: italic;
  font-weight: bold;
}

@mixin milo-xbold{
  font-family: 'MiloPro-Xbold', $ubuntu;
  font-style: normal;
  font-weight: 800;
}

@mixin button($color: $blue, $hovercolor: #fff) {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: $color;
  color: $color;
  display: inline-block;
  font-family: $ubuntu;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 25px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $color;
    color: $hovercolor;
    text-decoration: none;
  }

  &:active {
    background-color: darken($color, 8%);
  }
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}