
@import 'reset';


// @import 'fa/font-awesome';
@import 'utilities';
@import 'include-media';
@import 'burger';
@import 'font-milopro';
@import 'variables';
@import 'modules';
@import 'nav';
@import 'sliders';
@import 'forms';
@import 'cta-blocks';
@import 'parent-overrides';
@import 'twentyeighteen';
// Place finder

body {
  color: $black;
  background: #fff;
  font-family: $ubuntu;
  font-size: 16px;
  font-weight: 300;
}

// parent override
#main {
  clear: both;
}

#masthead {
  background: $blue;
  color: #fff;
  position: relative;
  width: 100%;
  z-index: 999;

  &::after {
    @include media('>=laptop') {
      background: $yellow;
      bottom: 20px;
      content: '';
      display: block;
      height: 6px;
      position: absolute;
      width: 100%;
    }
  }

  @include media('>=laptop') {
    height: 190px;
  }

  .actions {
    background: $blue-dark;
    height: 50px;
  }

  .action-search {
    position: relative;
  }

  .ac-searchbox {
    display: none;
    left: -17px;
    position: absolute;
    top: 30px;
    width: 196px;

    form {
      position: relative;

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 6px;
        margin-left: -8px;
      }

      input {
        background: #fff !important;
        border: none !important;
        border-radius: 20px !important;
        color: $blue-dark;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      input[type='submit'] {
        @extend %sr-only;
      }
    }

    &.active {
      display: block;
    }
  }

  .logo {
    position: relative;
    text-align: center;
    width: 100%;
    // background: url('../../images/masthead-logo_rule.svg') bottom left no-repeat;

    @include media('>=tablet') {
      margin-bottom: 20px;
      padding: 0;
      width: auto;
    }

    @include media('>=laptop') {
      display: inline;
      float: left;
      margin-bottom: 0;
      max-width: 236px;
    }
  }
}

.mh-core {
  padding: 20px 0;

  @include media('>=laptop') {
    padding: 34px 20px 10px;
  }

  @include media('>1230px') {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

body.home {
  -webkit-font-smoothing: antialiased;

  h1,h2,h3,h4,h5 {
    @include milo-boldita;
  }

  .product-carousel {
    @include milo-xbold;
    font-size: 14px;
    color: #857a74;
    overflow: hidden;

    @include media('>=desktop') {
      overflow: visible;
    }
  }

  .product-categories {
    display: flex;
    justify-content: space-around;
    width: 1190px;
  }


  .pc-item {
    flex: 1;
    max-width: 140px;
    padding: 0 10px;
    text-align: center;

    a {
      color: $slate;
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.3s linear;

      &:hover {
        text-decoration: none;
      }
    }

    .media-item {
      transition: transform 0.1s linear;
    }

    &:hover {
      a {
        color: $blue;
      }

      .media-item {
        transform: scale(1.1);
      }
    }
  }

  .site {
    padding-bottom: 0 !important;
  }

  #main {
    margin: 0;
    padding: 0;
  }

  #the_content h1 {
    @include milo-boldita;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
    text-transform: none;

    @include media('>=tablet') {
      font-size: 40px;
    }

    @include media('>=laptop') {
      margin-top: 0;
      font-size: 54px;
      line-height: 52px;
    }
  }

  #main .container {
    padding: 20px;

    @include media('>1230px') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #the_content {
    color: #fff;
    padding: 20px;

    @include media('>=laptop'){
      clear: both;
      float: right;
      padding: 135px 60px;
      width: 50%;
    }
  }

  .product-carousel,
  .home-content,
  .cta-blocks {
    min-height: 100px;
  }

  .product-carousel {
    background: $silver;
  }

  .home-content {
    background: $blue url('../../images/content-background.jpg') top left no-repeat;
    background-size: 180%;
    padding-bottom: 0;

    @include media('>=tablet') {
      background-size: 100%;
      padding-bottom: 90px;
    }

    @include media('>=laptop') {
      padding-bottom: 150px;
    }

    .container {
      padding: 0 !important;
    }
  }

  .cta-blocks {
    background: #8C8A88;
  }

}

body.single-product {
  .site {
    padding-bottom: 0;
  }

  #main {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

body.page-template-template-htp_packages {
  .site {
    padding-bottom: 0;
  }

  #main {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

#footer-newsletter {
  background: $yellow;
  color: $blue;
  padding: 30px 24px;

  @include media('>=laptop') {
    padding: 50px 20px;
  }

  .container {
    @include media('>=laptop') {
      display: flex;
    }
  }

  .title {
    @include media('>=laptop') {
      flex: 0 1 auto;
      margin-bottom: 0;
      margin-right: 40px;
    }
  }
}

#column-follow {

  a {
    color: #fff;
  }

  i {
    font-size: 40px;
  }
}

.site-footer {
  background: $blue-dark;
  color: $primary;
  height: auto;
  font-size: 14px;
  margin-top: 0;
  padding-left: 20px !important;
  padding-right: 20px !important;

  @include media('>=laptop') {
    padding-top: 50px;
  }

  #footer-facebook svg {
    transition: fill 0.2s linear;
    fill: #fff;
  }

  #footer-facebook:hover svg {
    transition: fill 0.2s linear;
    fill: $yellow;
  }

  .mg-lrg {
    display: none;

    @include media('>=tablet') {
      display: block;
    }
  }

  .mg-sml {
    display: block;

    @include media('>=tablet') {
      display: none;
    }
  }

  .payment {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .fa {
    font-size: 26px;
  }

  .container {
    position: relative;
      padding: 20px 0;

    @include media('>=tablet') {
      display: flex;
    }

    @include media('>desktop') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .copyright {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 65px;
  }

  .column {
    display: block;
    float: none;
    margin: 0;

    @include media('>=tablet') {
      flex: 1;
    }
  }
}

.store-selector {
  display: none;
  float: left;
  font-size: 13px;
  margin-top: 10px;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 15px;
    padding-right: 0.5em;
    position: absolute;
    top: 4px;
    right: 2px;
  }

  @include media('>=tablet') {
    display: block;
    padding-left: 20px;
  }

  @include media('>desktop') {
    padding-left: 0;
  }

  #select-store-trigger {
    @include button($blue-dark);
    background: $blue-dark;
    border-color: #42557C;
    color: #fff;
    font-weight: normal;
    padding:4px 25px;
      text-align: left;
    padding-left: 9px;
    padding-right: 40px;

    &:hover {
      color: $yellow;
      background: $blue-dark;
      border-color: #fff;
    }
  }
}



/* 2018 updates */

.woocommerce div.product div.product-sidecol img, .woocommerce #content div.product div.product-sidecol img, .woocommerce-page div.product div.product-sidecol img, .woocommerce-page #content div.product div.product-sidecol img {
    display: inline-block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.woocommerce div.product div.product-sidecol .woocommerce-product-gallery__image a, .woocommerce #content div.product div.product-sidecol .woocommerce-product-gallery__image a, .woocommerce-page div.product div.product-sidecol .woocommerce-product-gallery__image a, .woocommerce-page #content div.product div.product-sidecol .woocommerce-product-gallery__image a {
    border: 1px solid #d2d3d5;
    border-radius: 20px;
    height: 370px;
    font-size: 370px;
    line-height: 160px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.woocommerce-product-gallery__wrapper {
    margin: 0 20px 20px 0;
}

.related.products {
    padding-bottom: 40px;
}

.h-stripe, .page-title, .entry-title, body.blog #primary .page-title, body.single #primary .page-title, body.category #primary .page-title, .woocommerce #primary .page-title, .woocommerce-page #primary .page-title {
    margin-top: 0;
}

.single-product #primary {
    width: 100% !important;
}

#sharing-holder {
    position: absolute;
    display: block;
    top: 95px;
    right: -81px;
    background: #fff;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }
  
  #sharing-holder.show-sharing {
    right: 29px;
  }
  
  #sharing-holder a {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  a.social-link.facebook {
    background: url("../../images/fb.png");
  }
  
  a.social-link.google {
    background: url("../../images/google.png");
  }
  
  a.social-link.twitter {
    background: url("../../images/twitter.png");
  }
  
  a.social-link.email {
    background: url("../../images/mail.png");
  }
  
//   body.single.single-product.woocommerce.woocommerce-page ul li {
//     margin-bottom: 10px;
//   }
  
//   body.single.single-product.woocommerce.woocommerce-page ul br {
//     display: none;
//   }
  
  .page-template-template-feature-page #main {
    padding: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    overflow-x: hidden;
  }
  
  .page-template-template-feature-page .site {
    padding-bottom: 0px;
    overflow-x: hidden;
  }
  
  .page-template-template-feature-page .content-area h1, .page-template-template-feature-page .content-area h2, .page-template-template-feature-page .content-area h3, .page-template-template-feature-page .content-area a, .page-template-template-feature-page .content-area strong {
    font-family: MiloPro-BoldIta,Ubuntu,lucida grande,lucida sans unicode,lucida sans,lucida,sans-serif;
  }
  
  .page-template-template-feature-page .feature__header__section {
    min-height: 465px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .page-template-template-feature-page .feature__header__h1 {
    font-size: 60px !important;
    line-height: 62px;
    color: #fff;
    text-align: center !important;
    font-style: italic;
  }
  
  .page-template-template-feature-page .feature__heading__h2 {
    font-size: 48px;
    line-height: 52px;
    font-style: italic;
  }
  
  .page-template-template-feature-page .feature__heading__h3 {
    font-size: 38px;
    line-height: 40px;
    font-style: italic;
  }
  
  .page-template-template-feature-page .feature__bg__navy {
    background: #455478;
  }
  
  .page-template-template-feature-page .feature__bg__gray {
    background: #f3f3f3;
  }
  
  .page-template-template-feature-page .feature__bg__white {
    background: #fff;
  }
  
  .page-template-template-feature-page .feature__text__light {
    color: #fff;
  }
  
  .page-template-template-feature-page .feature__text__light a, .page-template-template-feature-page .feature__text__light p, .page-template-template-feature-page .feature__text__light span, .page-template-template-feature-page .feature__text__light h1, .page-template-template-feature-page .feature__text__light h2, .page-template-template-feature-page .feature__text__light h3 {
    color: #fff;
  }
  
  .page-template-template-feature-page .feature__text__dark {
    color: #2e2e2e;
  }
  
  .page-template-template-feature-page .feature__text__dark p, .page-template-template-feature-page .feature__text__dark span {
    color: #2e2e2e;
  }
  
  .page-template-template-feature-page .feature__text__dark a, .page-template-template-feature-page .feature__text__dark h1, .page-template-template-feature-page .feature__text__dark h2, .page-template-template-feature-page .feature__text__dark h3 {
    color: #455478;
  }
  
  .page-template-template-feature-page .feature__heading__text__section {
    padding: 80px 0px;
  }
  
  @media screen and (max-width: 768px) {
    .page-template-template-feature-page .feature__heading__text__section {
      padding: 40px 0px;
    }
  }
  
  .page-template-template-feature-page .feature__read__more {
    border: 2px solid #fff;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
    display: inline-block;
  }
  
  .page-template-template-feature-page .feature__read__more:hover {
    background: #fff;
    color: #455478;
    text-decoration: none;
  }
  
  @media screen and (min-width: 992px) {
    .page-template-template-feature-page .feature__order__0 {
      order: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    .page-template-template-feature-page .feature__order__1 {
      order: 1;
    }
  }
  
  .page-template-template-feature-page .feature__image__text__section {
    padding: 80px 0px;
  }
  
  @media screen and (max-width: 768px) {
    .page-template-template-feature-page .feature__image__text__section {
      padding: 40px 0px;
    }
  }
  
  .page-template-template-feature-page .feature__gutters {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .page-template-template-feature-page .feature__gutters {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  .page-template-template-feature-page .feature__image__holder img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center center;
    display: block;
  }
  
  @media screen and (max-width: 991px) {
    .page-template-template-feature-page .feature__order__0.feature__image__holder img {
      margin-bottom: 40px;
    }
  }
  
  .page-template-template-feature-page .feature__image__background__section {
    padding: 80px 0px;
    min-height: 465px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media screen and (max-width: 768px) {
    .page-template-template-feature-page .feature__image__background__section {
      padding: 40px 0px;
    }
  }
  
  .page-template-template-feature-page .feature__centered__content h1, .page-template-template-feature-page .feature__centered__content h2, .page-template-template-feature-page .feature__centered__content h3, .page-template-template-feature-page .feature__centered__content a, .page-template-template-feature-page .feature__centered__content p, .page-template-template-feature-page .feature__centered__content span {
    text-align: center;
  }
  
  .page-template-template-feature-page .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .page-template-template-feature-page .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .page-template-template-feature-page .slick-list:focus {
    outline: none;
  }
  
  .page-template-template-feature-page .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .page-template-template-feature-page .slick-slider .slick-track,
  .page-template-template-feature-page .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .page-template-template-feature-page .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .page-template-template-feature-page .slick-track:before, .page-template-template-feature-page .slick-track:after {
    content: "";
    display: table;
  }
  
  .page-template-template-feature-page .slick-track:after {
    clear: both;
  }
  
  .slick-loading .page-template-template-feature-page .slick-track {
    visibility: hidden;
  }
  
  .page-template-template-feature-page .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
  }
  
  [dir="rtl"] .page-template-template-feature-page .slick-slide {
    float: right;
  }
  
  .page-template-template-feature-page .slick-slide img {
    display: block;
  }
  
  .page-template-template-feature-page .slick-slide.slick-loading img {
    display: none;
  }
  
  .page-template-template-feature-page .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-initialized .page-template-template-feature-page .slick-slide {
    display: block;
  }
  
  .slick-loading .page-template-template-feature-page .slick-slide {
    visibility: hidden;
  }
  
  .slick-vertical .page-template-template-feature-page .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  .page-template-template-feature-page .slick-arrow.slick-hidden {
    display: none;
  }
  
  .slick-loading .page-template-template-feature-page .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
  }
  
  @font-face {
    .page-template-template-feature-page {
      font-family: "slick";
      src: url("./fonts/slick.eot");
      src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
    }
  }
  
  .page-template-template-feature-page .slick-prev,
  .page-template-template-feature-page .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  
  .page-template-template-feature-page .slick-prev:hover, .page-template-template-feature-page .slick-prev:focus,
  .page-template-template-feature-page .slick-next:hover,
  .page-template-template-feature-page .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  
  .page-template-template-feature-page .slick-prev:hover:before, .page-template-template-feature-page .slick-prev:focus:before,
  .page-template-template-feature-page .slick-next:hover:before,
  .page-template-template-feature-page .slick-next:focus:before {
    opacity: 1;
  }

  .page-template-template-feature-page .slick-prev.slick-disabled:before,
  .page-template-template-feature-page .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  
  .page-template-template-feature-page .slick-prev:before,
  .page-template-template-feature-page .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .page-template-template-feature-page .slick-prev {
    left: -25px;
  }
  
  [dir="rtl"] .page-template-template-feature-page .slick-prev {
    left: auto;
    right: -25px;
  }
  
  .page-template-template-feature-page .slick-prev:before {
    content: "←";
  }
  
  [dir="rtl"] .page-template-template-feature-page .slick-prev:before {
    content: "→";
  }
  
  .page-template-template-feature-page .slick-next {
    right: -25px;
  }
  
  [dir="rtl"] .page-template-template-feature-page .slick-next {
    left: -25px;
    right: auto;
  }
  
  .page-template-template-feature-page .slick-next:before {
    content: "→";
  }
  
  [dir="rtl"] .page-template-template-feature-page .slick-next:before {
    content: "←";
  }
  
  .page-template-template-feature-page .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }
  
  .page-template-template-feature-page .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: calc(100% - 40px);
  }
  
  @media screen and (min-width: 768px) {
    .page-template-template-feature-page .slick-dots {
      width: calc(100% - 80px);
    }
  }
  
  .page-template-template-feature-page .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  
  .page-template-template-feature-page .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
  }
  
  .page-template-template-feature-page .slick-dots li button:hover, .page-template-template-feature-page .slick-dots li button:focus {
    outline: none;
  }
  
  .page-template-template-feature-page .slick-dots li button:hover:before, .page-template-template-feature-page .slick-dots li button:focus:before {
    opacity: 1;
  }
  
  .page-template-template-feature-page .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 12px;
    height: 12px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 1;
    background: #aba4a0;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 0.2s ease-in-out;
  }
  
  .page-template-template-feature-page .slick-dots li.slick-active button:before {
    background: #45547a;
  }
  
  /* Slider 7 */
  #slider__7__container {
    background: #697699;
  }
  
  #slider__7__replace {
    min-height: 364px;
  }
  
  #slider__7__replace img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-width: 669px;
    display: flex;
    align-self: end;
  }
  
  @media (min-width: 1200px) {
    .container.slider__container {
      max-width: 1340px;
    }
  }
  
.cta-item svg {
    width: 80%;
    max-width: 260px;
}
