.feature__bg__picker .acf-button-group label:nth-child(1) {
    background: #455478;
    color: #fff;
}
.feature__bg__picker .acf-button-group label:nth-child(2) {
    background: #f3f3f3;
    color: #455478;
}
.feature__bg__picker .acf-button-group label:nth-child(3) {
    background: #fff;
    color: #455478;
}
th.acf-th[data-name="background_color"], th.acf-th[data-name="text_position"], th.acf-th[data-name="text_color"] {
    width: 10% !important;
}
#wp-admin-bar-wp-logo, #wp-admin-bar-updates, #wp-admin-bar-comments, #wp-admin-bar-new-content, #wp-admin-bar-delete-cache, #wp-admin-bar-itsec_admin_bar_menu, #wp-admin-bar-wpseo-menu, #wp-admin-bar-wplister_top, span.update-plugins, span.awaiting-mod, #yoast-seo-dashboard-widget .wordpress-feed, #yoast-seo-ryte-assessment, #footer-thankyou, .woocommerce-message, .update-nag, #wp-admin-bar-site-name .ab-sub-wrapper {
    display: none !important;
}
#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: " " !important;
    background-image: url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/images/wchifi_admin.png") !important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
    margin-right: 10px;
    top: 0px !important;
}
#wpadminbar #wp-admin-bar-site-name>.ab-item {
    color: #fff;
}
#wpadminbar li:hover>.ab-item {
    color: #f9c403 !important;
}
#wp-admin-bar-site-name {
    width: 160px;
}
#wp-admin-bar-site-name > a {
    text-align: center;
    padding-right: 18px !important;
}
.wp-menu-separator {
    border-bottom: 2px solid rgba(56, 68, 99,1);
}
span.collapse-button-label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
}
span.collapse-button-icon {
    color: rgba(255, 255, 255, 0.75);
}
#footer-upgrade {
    display: none;
}
body.wp-admin .dashboard-comment-wrap * {
    font-size: 12px !important;
    line-height: 0px;
}
#gf_dashboard_message {
  display: none !important;
}

/* Icon Group */
#icon-group > .acf-label > label {
  display: none;
}
#icon-group tbody {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-wrap: wrap;
}
#icon-group thead {
  display: none !important;
}
#icon-group .acf-label > p {
  font-size: 1rem;
  max-width: 615px;
  line-height: 1.4;
  padding-left: 15px;
}
#icon-group .acf-field-group {
  width: 100%;
  height: 100%;
}
#icon-group .image-wrap img[src$=".svg"] {
  min-height: 150px;
  width: 100%;
  max-height: 250px;
  max-width: 320px;
  object-fit: contain;
  background: none;
  border: 1px solid #e3e3e3;
  margin: 0 auto;
}
#icon-group .acf-button-group label.selected {
  background: #45547a;
}
#icon-group .acf-button-group label {
  transition: all 0.2s ease;
}
#icon-group .acf-image-uploader .show-if-value {
  display: block;
  margin: 0 auto !important;
  float: unset;
}
#icon-group .acf-image-uploader .hide-if-value {
  margin-top: 15px;
}
#icon-group .acf-icon.-collapse.small {
  display: none !important;
}
#icon-group .acf-icon.-plus.small {
  display: none !important;
}
#icon-group .acf-repeater .acf-row {
  display: flex;
  width: 33%;
  overflow: hidden;
  align-self: flex-start;
}
#icon-group .acf-row-handle.order {
  background: #dbdbdb;
  color: #515151;
  font-size: 16px;
  text-shadow: none;
}
#icon-group tbody .acf-row:nth-child(1) .acf-row-handle.order {
  color: #fff;
  background: #45547a;
}
#icon-group tbody .acf-row:nth-child(2) .acf-row-handle.order {
  color: #fff;
  background: #45547a;
}
#icon-group tbody .acf-row:nth-child(3) .acf-row-handle.order {
  color: #fff;
  background: #45547a;
}
#icon-group tbody .acf-row {
  opacity: 0.75;
  transition: opacity 0.2s linear;
}
#icon-group tbody .acf-row:nth-child(1) {
  opacity: 1;
}
#icon-group tbody .acf-row:nth-child(2) {
  opacity: 1;
}
#icon-group tbody .acf-row:nth-child(3) {
  opacity: 1;
}
#icon-group .acf-new-window {
  padding: 5px 12px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#icon-group .acf-new-window > .acf-label {
  margin-bottom: 2px !important;
}
#icon-group .acf-new-window > div > label {
  display: none !important;
}
.rmqrst-dismiss-rate-us {
  display: none !important;
}

.sliderpro-admin .editor-wrapper::after {
  content: "To override the slide background color click on the \'</>\' button under the slide and enter the following command: slide-index-01-FFFFFF Replace \"01\" with the slide number and \"FFFFFF\" with the 6-digit (hex) color code desired.";
  font-size: 0.925rem;
  width: 56rem;
  display: block;
  line-height: 1.5;
  margin-left: 7.5rem;
  margin-top: 0.5rem;
  max-width: calc(100% - 500px);
  position: relative;
}

.rs-dashboard #activation_dw,
.rs-dashboard #updates_dw,
.rs-dashboard #system_dw,
.rs-dashboard #rs-dash-widget,
.rs-dashboard #newsletter_dw,
.rs-dashboard #support_dw,
.rs-dashboard #templates_dw,
.tp-plugin-version,
#viewWrapper > .wrap > .title_line:nth-child(2),
.revolution-template-groups > .template_group_wrappers, 
.is-dismissible {
  display: none !important;
} 

#viewWrapper .title_line.nobgnopd {
  margin-top: 36px;
}

span.template_filter_button[data-type="template_free"] {
  display: inline-block;
}

#viewWrapper span, #viewWrapper p, 
#viewWrapper div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#divLayers-wrapper {
  background: #6c7894;
}


span.template_filter_button {
  display: none;
}

@font-face {
  font-family: 'MiloPro-BoldIta';
  src: url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-BoldIta.eot");
  src: url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-BoldIta.eot?#iefix") format("embedded-opentype"), url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-BoldIta.woff") format("woff"), url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-BoldIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'MiloPro-Xbold';
  src: url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-Xbold.eot");
  src: url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-Xbold.eot?#iefix") format("embedded-opentype"), url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-Xbold.woff") format("woff"), url("https://www.westcoasthifi.com.au/wp-content/themes/wchifi-2017/assets/fonts/MiloPro-Xbold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.template_group_wrappers.template_free {
  display: inline-block !important;
}

/* ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ps-container > li {
  display: none;
} */

.page-id-16472 #main-content {
  padding: 40px 0 100px;
}

li[original-title="wc-heading"], 
li[original-title="wc-subheading"], 
li[original-title="wc-buttonlink"] {
  display: list-item;
}

#divLayers-wrapper .tp-bgimg.defaultimg {
  background-color: #6c7894 !important;
}

@media only screen and (max-width: 699px) {
  .sliderpro-admin .editor-wrapper::after {
    display: none;
  }
}

.acf-flexible-content .layout[data-layout="image_text_section"] .acf-field {
  margin-top: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.acf-field[data-name="heading"] input,
.acf-field[data-name="heading"] textarea,
.acf-field[data-name="blockquote"] input,
.acf-field[data-name="blockquote"] textarea {
  font-size: 3rem;
  min-height: 3.5rem;
  font-family: MiloPro-BoldIta,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  width: 100%;
  line-height: 1.2;
}

.acf-field[data-name="blockquote"] input,
.acf-field[data-name="blockquote"] textarea {
  text-align: center;
}

.acf-field[data-name="content"] input,
.acf-field[data-name="content"] textarea {
  font-size: 16px;
  font-weight: 300;
  font-family: "Ubuntu", "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
  width: 100%;
  line-height: 1.5;
}

.acf-field[data-name="subheading"] input,
.acf-field[data-name="subheading"] textarea {
  font-size: 16px;
  font-weight: 300;
  font-family: "Ubuntu", "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
  width: 100%;
  line-height: 1.5;
}


.acf-flexible-content {
  min-height: 0px !important;
}

.acf-smart-button-fields {
  text-transform: capitalize;
}

.acf-field.acf-field-repeater[data-name="rollover_box_Items"] .ui-sortable {
  display: flex;
  flex-flow: row wrap;
}


.acf-field.acf-field-repeater[data-name="rollover_box_Items"] .acf-row {
  flex-basis: 33%;
  display: flex;
}

.acf-field.acf-field-repeater[data-name="rollover_box_Items"] th.acf-th[data-name="rollover_item"] {
  display: none;
}

.acf-field.acf-field-repeater[data-name="rollover_box_Items"] .acf-table tbody {
  display: flex;
}

.acf-field.acf-field-columngroup .acf-field[data-name="lat"] {
  padding-right: 10px;
}
.acf-field.acf-field-columngroup .acf-field[data-name="lat"], .acf-field.acf-field-columngroup .acf-field[data-name="lng"] {
  border: 0;
}

.acf-smart-button-fields > tbody > tr > td.external input {
  padding-left: 30px !important;
}