#wpadminbar {
    background: #333f5b !important;
}
#wp-admin-bar-customize {
    display: none !important;
}
#wp-admin-bar-site-name {
    min-width: 160px;
}
#wpadminbar .ab-top-menu>li:hover>.ab-item {
    color: #f9c403;
    background: #3b4868;
}
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before {
    color: rgba(240,245,250,.6) !important;
}
.ab-item {
    color: #fff;
}
